* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #a18db1;
}
.wrapper {
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.textContainer {
  height: fit-content;
  width: fit-content;
  background-color: #2ca17f;
}
.fa-regular.fa-copy {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 35px;
  background: #333;
  border-radius: 50%;
  font-size: 18px;
  color: #666;
  transition: 0.5s;
}
.fas.fa-download {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 35px;
  background: #333;
  border-radius: 50%;
  font-size: 18px;
  color: #666;
  transition: 0.5s;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  margin: 0 15px;
}
.fa-regular.fa-copy:hover,
.fas.fa-download:hover {
  color: aqua;
  animation: forwards;
}
.container {
  width: 100%;
  background-color: #2ca17f;
  padding: 50px 40px;
  box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5);
  position: relative;
  border-radius: 8px;
  text-align: center;
}
.container:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 120%;
  background-color: #a18db1;
  z-index: -1;
  top: -10%;
  left: 10%;
}
.container p {
  color: #fdd8d8;
  line-height: 2;
  font-size: 18px;
}
.container h3 {
  color: #ffffff;
  margin: 20px 0 34px 0;
  font-weight: 340;
  text-transform: capitalize;
}
.container button {
  background-color: #ffffff;
  border: none;
  padding: 15px 45px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 340;
  color: #f43543;
  cursor: pointer;
}
.copy-that {
  text-align: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
  border-radius: 8px;
}
